@font-face { 
    font-family: airplane; 
    font-weight: normal;
    src: url('airplane.ttf'); 
} 

body {
    background-image: url('bg.jpg');
    font-family: Roboto, arial;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #eeeeee;
}

li {
    list-style-type: none;
}

table {
    margin: 10px auto;
}
    

.link {
    color: #eeeeee;
}

.link:hover {
    color: #cccccc;
}

.info {
    position: absolute;
    display: none;
    background-color: #000000;
}

.button {
    display: block;
    margin: 6 auto;
    border: 0;
    font-size: 16px;
    padding: 3px;
    color: #eeeeee;
    text-align: center;
}

.blue {
    background-color: #4099FF;
    width: 50%;
}

.blue:hover {
    background-color: #2079DF;
}

.cancel {
    background-color: #D92525;
    width: 40%;
}

.cancel:hover {
    background-color: #B90505;
}

#header {
    height: 60px;
    margin: 20px;
}

#name {
    font-family: Roboto, arial;
    font-size: 40px;
    float: left;
}

#personal {
    font-family: Roboto, arial;
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    padding-top: 5px;
}

#welcome, #loginlink, #registerlink, #profilelink, #logout {
    margin-left: 20px;
    position: relative;
}

#login {
    right: -10px;
}

#loginlink:hover #login {
    display: block;
}

#content {
    margin: 20px;
    height: calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    overflow: hidden;
}

#rooms {
    width: 25%;
    float: left;
}

#roomheader {
    color: #ffffff;
    background-color: #AE113E;
    font-size: 1.4em;
    padding: 4px 4px 6px 6px;
    font-weight: 400;
}

#roomlist {
    background-color: rgba(0,0,0,0.3);
    margin-bottom: 20px;
    padding: 15px;
    min-height: 50px;
}

#roomlist li {
    font-size: 20px;
}

.roominfo {
    padding: 15px;
    font-size: 16px;
}

#main {
    margin-left: 26%;
    min-width: 60%;
    min-height: 60%;
}

#mainheader {
    color: #ffffff;
    background-color: #39DB4F;
    font-size: 1.4em;
    padding: 4px 4px 6px 6px;
    font-weight: 400;
}

#mainroom {
    background-color: rgba(0,0,0,0.3);
    text-align: center;
}

#registerpopup, #profilepopup, #createpopup {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    opacity: 0.9;
    text-align: center;
    padding: 20px;
}

#registerloading, #createloading {
    display: none;
}

#registeralert {
    color: #D92525;
}
