<DOCTYPE html>
<html>
    <head>
        <title>Multiplayer Tractor</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>var username = "<%= username %>";</script>
        <script>var roomname = "<%= room ? room : '' %>";</script>
        <script src="/javascripts/transform.js"></script>
        <script src="/javascripts/service.js"></script>
        <script src="/javascripts/rooms.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="name">
                <div id="logo">Tractor</div>
            </div>
            <div id="personal">
                <span id="welcome">Welcome, <%= username %>!</span>
                <% if (isGuest) { %>
                <span id="loginlink" class="link">
                    Login
                    <span id="login" class="info">
                        <form method="post" action="/login">
                            <table>
                                <tr>
                                    <td>Username:</td>
                                    <td><input type="text" name="username" /></td>
                                </tr>
                                <tr>
                                    <td>Password:</td>
                                    <td><input type="password" name="password"></td>
                                </tr>
                            </table>
                            <input type="submit" class="blue button" value="login">
                        </form>
                    </span>
                </span>
                <span id="registerlink" class="link">
                    Register
                </span>
                <% } else { %>
                <span id="profilelink" class="link">
                    Profile
                </span>
                <span id="logout" class="link">Logout</span>
                <% } %>
            </div>
        </div>
        <div id="content">
            <div id="rooms">
                <div id="roomheader">rooms</div>
                <div id="roomlist">
                    <div id="roomcreate" class="blue button">new room</div>
                    <ul id="roomsul">
                    </ul>
                    <div id="roomlistbuffer"></div>
                </div>
            </div>
            <div id="main">
                <div id="mainheader">
                    <span id="roomname"></span>
                </div>
                <div id="mainroom">
                    <div id="roombar">
                        <div id="roomleave" class="cancel button">leave room</div>
                        <div id="roomnotification"></div>
                        <div id="roomerror"></div>
                    </div>
                    <div id="gameintro">
                    </div>
                    <div id="gamecanvas">
                        <div id="gameinfo"></div>
                        <canvas id="gameshow" width="800px" height="600px">
                        </canvas>
                    </div>
                    <div id="gamecontrols">
                        <span id="gamecontrol" class="blue button"></span>
                    </div>
                </div>
            </div>
        </div>
        <% if (isGuest) { %>
        <div id="registerpopup" class="info">
            <span id="registerstatus">Please enter your information.<br/></span>
            <span id="registerloading">Registering...<br/></span>
            <br/>
            <span id="registeralert"></span>
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input id="registerusername" type="text" name="username" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input id="registeremail" type="text" name="email" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input id="registerpassword" type="password" name="password" /></td>
                </tr>
                <tr>
                    <td>Confirm:</td>
                    <td><input id="registerconfirm" type="password" name="confirm" /></td>
                </tr>
            </table>
            <span id="registerbutton" class="blue button">Register</span>
            <span id="registercancel" class="cancel button">Cancel</span>
        </div>
        <% } else { %>
        <div id="profilepopup" class="info">
            Profile<br/>
            Username: <%= username %><br/>
            <span id="profileclose" class="cancel button">Close</span>
        </div>
        <% } %>
        <div id="createpopup" class="info">
            <span id="createloading">Creating...</span>
            <table>
                <tr>
                    <td>Room name:</td>
                    <td><input id="createroomname" type="text" name="roomname"/></td>
                </tr>
            </table>
            <span id="createbutton" class="blue button">Create</span>
            <span id="createclose" class="cancel button">Close</span>
        </div>
    </body>
</html>
